

@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<Product>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Products</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">

            <a class="btn btn-success" asp-area="Manage" asp-controller="Product" asp-action="Create">Add</a>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Cover Image</th>
                            <th>Name</th>
                            <th>Cost Price</th>
                            <th>Sell Price</th>
                            <th>Discount</th>
                            <th>Categories</th>
                            <th></th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var prod in Model)
                            {
                                <td>@prod.Id</td>
                                <td> <img src="~/assets/img/@prod.ProductImages.FirstOrDefault(pi=>pi.ProductId == prod.Id).ImgUrl" /></td>
                                <td>@prod.Name</td>
                                <td>@prod.CostPrice</td>
                                <td>@prod.SellPrice</td>
                                <td>@prod.Discount.DiscountPercent</td>
                                <td>@prod.Category.Name</td>
                                <td><a class="btn btn-warning" asp-area="Manage" asp-controller="Product" asp-action="Update" asp-route-id="@prod.Id">Update</a></td>
                                <td><a class="btn btn-danger" asp-area="Manage" asp-controller="Product" asp-action="Delete" asp-route-id="@prod.Id">Delete</a></td>
                                <td><a class="btn btn-danger" asp-area="Manage" asp-controller="Product" asp-action="Details" asp-route-id="@prod.Id">Details</a></td>
                            }
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

